@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Sofia + Sans";
}

header {
  height: 42px;
  width: 100%;
  background-color: #5e503f;
  position: sticky;
  top: 0;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 15px;
}

.fa-solid {
  font-size: 2em;
  margin: 5px;
}

.fa-school-lock {
  animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    color: rgb(125, 3, 3);
  }
}

#dragon {
  position: absolute;
  width: 150px;
  left: 0;
  opacity: 0;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.fa-bars:hover {
  transform: rotate(90deg);
}

ul li {
  display: inline-block;
}
ul li:hover {
  background: #5e503f;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 430%;
  display: none;
}
ul li ul li {
  background: #5e503f;
  display: block;
}
ul li ul li a {
  display: block;
}
ul li ul li:hover {
  background: black;
}

main {
  background-color: #c6ac8f;
  height: calc(100vh - 42px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionnaire {
  background-color: #eae0d5;
  text-align: center;
  border: 6px solid black;
  overflow: hidden;
  animation: animation-border 10s infinite;
}

@keyframes animation-border {
  50% {
    border-color: #5e503f;
  }
}

h2 {
  padding: 10px;
}

.box {
  padding: 7px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="lämna-in"] {
  background-color: #5e503f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="lämna-in"]:hover {
  background-color: #060300;
}

footer {
  background-color: #c6ac8f;
  text-align: center;
}

.line {
  background-color: #5e503f;
  height: 10px;
}

h2 {
  padding: 10px;
}

.fa-brands {
  font-size: 2em;
  text-decoration: none;
  padding-bottom: 10px;
}

.fa-instagram {
  color: rgb(194, 1, 104);
  padding-right: 20px;
}

.fa-square-facebook {
  color: rgb(32, 29, 224);
}

@media screen and (max-width: 650px) {
  #inlogning {
    width: 70%;
    height: 80%;
  }
}

@media screen and (max-width: 650px) {
  .box {
    padding: 0;
  }
}
