* {
  padding: 0;
  margin: 0;
}

header {
  height: 42px;
  width: 100%;
  background-color: #5e503f;
  position: relative;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
  padding: 15px;
}

.fa-solid {
  color: #0a0908;
  font-size: 2em;
  margin: 5px;
}

.fa-school-lock {
  position: absolute;
  left: 0;
  animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    border-color: #5e503f;
    color: rgb(125, 3, 3);
  }
}

#dragon {
  position: absolute;
  left: 0;
  opacity: 0;
}

.bars {
  position: absolute;
  right: 0;
  top: 0;
}

ul li {
  display: inline-block;
}
ul li:hover {
  background: #5e503f;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  top: 100%;
  right: 0;
  width: 430%;
  display: none;
}
ul li ul li {
  background: #5e503f;
  display: block;
}
ul li ul li a {
  display: block !important;
}
ul li ul li:hover {
  background: black;
}

main {
  background-color: #c6ac8f;
  height: 100%;
}

h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.produkter {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: #eae0d5;
  width: 48.5%;
  height: 400px;
  text-align: center;
  border-radius: 15px;
  border: 7px solid black;
  animation: mymove 10s infinite;
  margin-bottom: 1%;
  overflow: hidden;
}

@media screen and (max-width: 820px) {
  .produkter {
    display: block;
  }
}

@media screen and (max-width: 820px) {
  .box {
    width: 100%;
    border: none;
  }
}

/* @keyframes mymove {
  50% {
    border-color: #5e503f;
    color: rgb(125, 3, 3);
  }
} */

h2 {
  font-size: 200%;
  margin-bottom: 20px;
}

p {
  font-size: 150%;
}

.bild {
  width: 50%;
  height: 50%;
  padding-bottom: 25px;
}

.bild.x {
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
